<!DOCTYPE html>
<html>
    {% include head.html %}
    <body class="is-offset {% unless site.typekit_kit_id %}wf-inactive{% endunless %}">
        <section role="main">
            {{ content }}
        </section>
        {% include footer.html %}
        <script type="text/javascript" src="{{ site.baseurl }}/js/galileo.js"></script>
        <script type="text/javascript" src="{{ site.baseurl }}/js/jquery-1.12.0.min.js"></script>
        <script type="text/javascript" src="{{ site.baseurl }}/js/jquery.dlmenu.min.js"></script>
        <script type="text/javascript" src="{{ site.baseurl }}/js/jquery.goup.min.js"></script>
        <script type="text/javascript" src="{{ site.baseurl }}/js/jquery.magnific-popup.min.js"></script>
        <script type="text/javascript" src="{{ site.baseurl }}/js/jquery.fitvid.min.js"></script>
        <script type="text/javascript" src="{{ site.baseurl }}/js/scripts.js"></script>

        <link rel="stylesheet" href="{{ site.baseurl }}/css/magnific-popup.css">
    </body>
</html>
